---
import astroLogo from '../assets/astro.svg';
import background from '../assets/background.svg';
---

<div id="container">
	<main>
		<section id="hero">
			<h1>the woody wisdom</h1>
			<hr />
			<p>welcome to the woody wisdom</p>
			<ul>
				<li>a blog from the perspective of a chocolate lab / moose</li>
				<li>content provided is from experience</li>
				<li>i live with humans</li>
			</ul>
			<hr />
			<h2>::content provided::</h2>
			<ul>
				<li>devops infrastructure: docker, vms, linux</li>
				<li>fastapi microservice</li>
				<li>create react app</li>
				<li>astro js blog</li>
			</ul>
		</section>
	</main>
</div>

<style>
	#container {
		font-family: Inter, Roboto, 'Helvetica Neue', 'Arial Nova', 'Nimbus Sans', Arial, sans-serif;
		height: 100%;
	}

	main {
		height: 100%;
		display: flex;
		justify-content: center;
	}

	#hero {
		display: flex;
		align-items: start;
		flex-direction: column;
		justify-content: center;
		padding: 16px;
	}

	h1 {
		font-size: 22px;
		margin-top: 0.25em;
	}
</style>

